<h1>Articles</h1>

<h3>Max voted article</h3>
<h1><%= max_voted_article.title %></h1>
<p>by <%= max_voted_article.author.name %></p>
<p><%= max_voted_article.text %></p>

<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
