/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .header {
  display: flex;
  background-color: white;
  padding: 25px 20px;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body .logo {
  color: #4E443E;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;

}

body .logo::after {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FA6000;
}

.navbar .nav-list {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 15%;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 8px 0;
}

.navbar .account {
  width: 10%;
  color: #847F7A;
}

.nav-list .nav-link {
  color: #847F7B;
}

.nav-list .active {
  color: #FA6000;
}

.account .name {
  border-right: solid #847F7B 2px;
  padding-right: 10px;
}

.account .logout:hover {
  color: #535353;
}

main .gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
}

.featured-articles {
  height: 60vh;
}

.featured-articles svg {
  position: relative;
  top: 3px;
  width: 25px;
  height: 15px;
}

.featured-articles .article-big {  
  width: 75%;
  float: left;
  color: #fff;
  position: relative;
  height: 100%;
}

.featured-articles .article-big::before {  
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgba(232,7,47,1) 25%, rgba(132,127,123,1) 25%);
}

.article-big #logo {
  position: relative;
  z-index: 2;
  width: 471px;
  height: 112px;
  margin: 20px;
}

.article-big .date {
  position: absolute;
  right: 17px;
  top: 14px;
  font-size: 0.95rem;
}

.featured-articles .content {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.weather .content {
  top: 0;
}

.content .article-category {
  font-size: 1rem;
}

.content h1 {
  font-size: 20px;
  color: #FA6000;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.content .text,
.content .time {
  position: relative;
  color: #ffffff;
  font-size: 15px;
}

.text a:hover {
  color: #fff;
}

.featured-articles .weather {
  background: url("https://images.unsplash.com/photo-1555588746-13edde80e4a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") no-repeat;
  background-size: cover;
  position: relative;
  float: right;
  width: 25%;
  color: #fff;
  height: 100%;
}

.weather .weather-icon {
  position: absolute;
  top: 25%;
  left: 50%;
}

.weather-icon svg {
  width: 200px;
  height: 200px;
  fill: #fff;
}

main .categories {
  display: flex;
  flex-wrap: wrap;
}

.categories .category {
  height: 230px;
  width: 25%;
  padding: 20px;
  position: relative;
  color: #fff;
}

.category .title {
  font-size: 16px;
  border-bottom: solid #FEFE00 2px;
  display: inline;
}

.category .article-title {
  font-size: 16px;
  position: absolute;
  bottom: 20px;
}

body .footer {
  display :flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #4E443E;
}

.footer .logo {
  color: #fff;
}

.footer .footer-links {
  display: flex;
  padding-top: 6px;
  font-size: 14px;
  color: #fff;
}
