// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.featured-articles {
  height: 60vh;
}

.featured-articles svg {
  position: relative;
  top: 3px;
  width: 25px;
  height: 15px;
}

.featured-articles .article-big {  
  width: 75%;
  float: left;
  color: #fff;
  position: relative;
  height: 100%;
}

.featured-articles .article-big::before,
main .article-form::before,
main .category-articles::before {  
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgba(232,7,47,1) 25%, rgba(132,127,123,1) 25%);
}

main .article-form::before,
main .category-articles::before {
  background: linear-gradient(90deg, rgba(232,7,47,1) 18.5%, rgba(132,127,123,1) 18.5%);
}

.article-big #logo {
  position: relative;
  z-index: 2;
  width: 471px;
  height: 112px;
  margin: 20px;
}

.article-big .date {
  position: absolute;
  right: 17px;
  top: 14px;
  font-size: 0.95rem;
}

.featured-articles .content {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.weather .content {
  top: 0;
}

.content .article-category {
  font-size: 1rem;
}

.content h1 {
  font-size: 20px;
  color: #FA6000;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.content .text,
.content .time {
  position: relative;
  color: #ffffff;
  font-size: 15px;
}

.text a:hover {
  color: #fff;
}

.featured-articles .weather {
  background: url("https://images.unsplash.com/photo-1555588746-13edde80e4a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") no-repeat;
  background-size: cover;
  position: relative;
  float: right;
  width: 25%;
  color: #fff;
  height: 100%;
}

.weather .weather-icon {
  position: absolute;
  top: 25%;
  left: 50%;
}

.weather-icon svg {
  width: 200px;
  height: 200px;
  fill: #fff;
}



.article-form .form {
  margin: 25px 30% 80px;
}

.article-form h1 {
  margin: 0 30% 20px;
  padding-top: 20px;
  text-align: center;
  color: #4E443E;
}

.form .field {
  padding-top: 25px;
}

.field label {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 2px;
  color: #FA6000;
}

.field .input {
  width: 100%;
  height: 40px;
  padding: 15px 10px;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: solid 1px #847F7A;
}

.field .text-area {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  font-size: 17px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: solid 1px #847F7A;
}

.field .submit-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  border: solid #FA6000 2px;
  border-radius: 5px;
  background-color: #fff;
  color: #4E443E;
  cursor: pointer;
}

.field .submit-btn:hover {
  background-color: #FA6000;
  color: #fff;
}

.field .submit-btn:focus {
  border-color: #FA6000;
}

.field .submit-btn:active {
  border-color: #FA6000;
}

.form .category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.field .suggestion {
  margin-top: 15px;
  font-style: italic;
  font-size: 15px;
  color: #4E443E;
}

.category-list .category {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid #FA6000 1px;
  border-radius: 5px;
  cursor: pointer;
}

.category-list .category:hover {
  background-color:#FA6000;
  color: #fff;
}
