// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.article-body .vote {
  color: #847f7b;
}

.article-body .vote:hover {
  color: #f99b00;
}

.article-body .voted {
  color: #f99b00;
}
